<%= form_with(model: [user, category]) do |form| %>
 

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :details, style: "display: block" %>
    <%= form.text_field :details %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
