
<div class="task-new">

<div>
 <%= render partial: "home/nav-category" %>
</div>
<div class="task-new-form">

<h1> New task</h1>

<%= form_with scope: :task, url: create_task_path, local: true do |f| %>
  
  <p>
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    <% end %>

  </p>

  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  
  
  <p>
    <%= f.label :details %><br/>
    <%= f.text_field :details %>
  </p>

  <p>
    <%= f.label :date %><br/>
    <%= f.date_field :date %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>

<% end %>


<div>
<%= link_to "Back", user_category_path(current_user, @category, @task) %>
</div>
</div>
</div>