<nav class="home-nav">
  <div class="user-container">
    <h2><%= current_user.name  %>'s Journal</h2>
    </div>
    <div class="button-container">

    <div class="nav-buttons">
      <%= image_tag("category.png", :alt => "category logo") %>
      <%= link_to "Home", authenticated_root_path %>
    </div>
    <div class="nav-buttons">
      <%= image_tag("task.png", :alt => "task logo") %>
    </div>
    <% if @task != nil %>
    <h2> <%= @task.name  %></h2>
    <% end %>
  </div>
  <div class="signout-container">
    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
 </nav>