<div class="home">
 <nav class="home-nav">
  <div class="user-container">
    <h2><%= current_user.name  %>'s Journal</h2>
  </div>
  <div class="button-container">
  <div class="nav-buttons">
  <%= image_tag("home.png", :alt => "category logo") %>
  <%= link_to "Home", authenticated_root_path %>
</div>
<div class="nav-buttons">
  <%= image_tag("overview.png", :alt => "overview logo") %>
  <%= link_to "Overview", authenticated_root_path %>
</div>
<div class="nav-buttons">
  <%= image_tag("analytic.png", :alt => "overview logo") %>
  <%= link_to "Analytics", authenticated_root_path %>
</div>
<div class="nav-buttons">
  <%= image_tag("controls.png", :alt => "controls logo") %>
  <%= link_to "Settings", authenticated_root_path %>
</div>
  </div>
  <div class="signout-container">
    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
 </nav>
 <div class="renders">

 <div class="home-category">
  <%= render template: "category/index" %>
 </div>
 </div>
</div>