<div class="home">
 <nav class="home-nav">
  <div class="user-container">
    <h2><%= current_user.name  %>'s Journal</h2>
  </div>
  <div class="button-container">
    <div class="nav-buttons">
      <%= image_tag("category.png", :alt => "category logo") %>
      <%= link_to "Category", user_category_index_path(current_user) %>
    </div>
    <div class="nav-buttons">
      <%= image_tag("task.png", :alt => "task logo") %>
    </div>
  </div>
  <div class="signout-container">
    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
 </nav>
 <div>
  <%= render template: "category/index" %>
      <%= link_to "New Category", new_user_category_path(current_user) %>
 </div>
 <div>
  <%= render template: "task/index" %>
 </div>
</div>